CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
photo_2023-09-27_11-42-49.jpg
.vscode/
.vscode
*.exe
build/
notes.md
project.pro.user
